/* imports */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\000031}}
* {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  outline: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000312}}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000317}}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
  line-height: 1.4;
  font-family: "Oswald" Arial sans-serif;
  letter-spacing: 0.1em;
  color: #d6d6d6;
  background-color: #f0f0f0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000330}}
body > input {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000343}}
img {
  display: block;
  width: auto;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000349}}
hr {
  border-top: 1px solid #c9c9c9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000353}}
u {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000358}}
.fallback a, article a {
  color: #2aafff;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000366}}
ul li {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000371}}
blockquote {
  font-style: italic;
  padding: 0 2rem;
  opacity: 0.5;
  border-left: 2px solid #d6d6d6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000378}}
center {
  background: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000382}}
iframe {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000387}}
p:not(:last-of-type) {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000392}}
h2 {
  font-size: 20px;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\0000397}}
h3 {
  font-size: inherit;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/_global\.scss}line{font-family:\00003105}}
input {
  font-size: inherit;
  font-family: inherit;
}

/* extends */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/mapView\/_map\.scss}line{font-family:\000031}}
#map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/mapView\/_map\.scss}line{font-family:\0000311}}
#map .mapContainer {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 15%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/mapView\/_map\.scss}line{font-family:\0000319}}
#map .mapContainer canvas {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/mapView\/_map\.scss}line{font-family:\0000330}}
#map .userMarker {
  position: absolute;
  width: 10px;
  height: 10px;
  transform-origin: 0% 0%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/mapView\/_map\.scss}line{font-family:\0000337}}
#map .userMarker .userMarkerInner {
  width: 10px;
  height: 10px;
  position: relative;
  top: -5px;
  left: -5px;
  background-color: #7de8e8;
  background-color: #ffaf4b;
  border-radius: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/ui\/_codeDialog\.scss}line{font-family:\000031}}
.codeDialog {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/ui\/_codeDialog\.scss}line{font-family:\0000311}}
.codeDialog .dialogBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.5) 0%);
  background-size: 5px 5px;
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/ui\/_codeDialog\.scss}line{font-family:\0000331}}
.codeDialog .dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  width: auto;
  background: white;
  background: linear-gradient(to bottom, #ffaf4b 0%, #ff920a 100%);
  border-radius: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/ui\/_codeDialog\.scss}line{font-family:\0000348}}
.codeDialog .dialog h2 {
  color: #2B2B2B;
  font-size: 2.2em;
  line-height: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/ui\/_codeDialog\.scss}line{font-family:\0000357}}
.codeDialog .dialog h3 {
  color: #2B2B2B;
  font-size: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/ui\/_codeDialog\.scss}line{font-family:\0000362}}
.codeDialog .dialog input {
  text-align: center;
  letter-spacing: 1em;
  font-size: 2.2em;
  padding-left: 2em;
  padding-right: 1em;
  background: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.2em;
  color: #2B2B2B;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/ui\/_codeDialog\.scss}line{font-family:\0000375}}
.codeDialog .dialog p {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  color: #2B2B2B;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/ui\/_codeDialog\.scss}line{font-family:\0000382}}
.codeDialog .dialog .btn {
  width: 30%;
  padding: 1em;
  margin-top: 2em;
  clear: both;
  background: #2B2B2B;
  border-radius: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/ui\/_codeDialog\.scss}line{font-family:\0000388}}
.codeDialog .dialog .btn h2 {
  padding-top: 0.25em;
  color: #eeeeee;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\000031}}
.page#introPage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.5) 0%);
  background-size: 5px 5px;
  transition: all 0.5s;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\0000320}}
.page#introPage .pageInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffaf4b;
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: linear-gradient(to bottom, #ffaf4b 0%, #ff920a 100%);
  border-radius: 50%;
  width: 30em;
  height: 30em;
  padding: 5em;
  text-align: center;
  color: #2B2B2B;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\0000334}}
.page#introPage .pageInner * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\0000348}}
.page#introPage .pageInner h1 {
  font-size: 4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\0000357}}
.page#introPage .pageInner p {
  margin-top: 2em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\0000364}}
.page#introPage .pageInner .inputSelect {
  margin-top: 1em;
  font-size: 3em;
  line-height: 2em;
  text-align: center;
  color: white;
  position: absolute;
  opacity: 0.6;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\0000382}}
.page#introPage .pageInner .inputSelect#phone {
  right: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\0000386}}
.page#introPage .pageInner .inputSelect#mouse {
  left: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\0000390}}
.page#introPage .pageInner .inputSelect:hover {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/pages\/_intro\.scss}line{font-family:\0000394}}
.page#introPage .pageInner .inputSelect.disable {
  opacity: 0.1;
  pointer-events: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/mobile\/_mobile\.scss}line{font-family:\000031}}
.mobile {
  background: linear-gradient(to bottom, #ffaf4b 0%, #ff920a 100%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/mobile\/_mobile\.scss}line{font-family:\0000312}}
.mobile #ui {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/mobile\/_mobile\.scss}line{font-family:\0000319}}
.mobile #ui #uiBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/owenhindley\/Documents\/workspace\/projects\/RFM_003_TuneIn_POC\/3DTI-binaural-web-demo\/webdemo-app\/src\/scss\/mobile\/_mobile\.scss}line{font-family:\0000327}}
.mobile #ui .indicator {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 1px solid red;
}
