#map {
	
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;

	pointer-events:none;

	.mapContainer {
		position: absolute;
		bottom:5%;
		left:5%;

		width:15%;
		

		canvas {
			position: absolute;
			bottom:0px;
			width:100%;
			height:auto;

			
		}

	}

	.userMarker {
		position: absolute;
		width:10px;
		height:10px;

		transform-origin:0% 0%;

		.userMarkerInner {
			width:10px;
			height:10px;
			position: relative;
			top:-5px;
			left:-5px;
			background-color:hsl(180, 70, 70);
			background-color:#ffaf4b;
			// background: linear-gradient(to bottom, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
			// background: linear-gradient(to bottom, #ffaf4b 0%,#ff920a 100%);
			border-radius: 50%;
		}
	}

}