#vhaSelect {
	
	position: absolute;
	pointer-events:none;
	top:0px;
	left:0px;
	width:100%;
	height:100%;


	#vhaMessage {
		position: absolute;
		top:60%;
		left:50%;
		height:2em;
		width:20em;
		transform:translate(-50%, -50%);

		text-align: center;
		font-size:5em;

		color:white;

		opacity: 0;

		transition:all 0.5s ease-in-out;

		&.visible {
			opacity: 1;
			top:50%;
		}
	}
}